li{
    padding: 10px 15px;
    margin-right: 3px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    &:hover{
        background-color: black;
        color: white;
        font-weight: bold;
    }
}
.active-list{
    background-color: black;
    color: white;
    font-weight: bold;
}